// {
//     "presets": ["mobx"]
// }

// {
//     "presets": ["es2015", "stage-1"],
//     "plugins": ["transform-decorators-legacy"]
// }

{
    "presets": ["@babel/preset-env"],
    "plugins": [
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        ["@babel/plugin-proposal-class-properties", { "loose": true }]
    ]
}